@model Com.Melon.Wrap.Site.Areas.Blog.Models.HtmlPostViewModel
@{
    ViewData["Title"] = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br/>
<div class="row">
    <div class="col-md-12">
        <h4>@Model.Title</h4>
    </div>
    <br/>
    <div class="col-md-12">
        @Html.Raw(Model.HtmlContent)
    </div>
</div>

@section Styles {
    <link href="~/lib/highlight/styles/default.css" rel="stylesheet"/>
}

@section Scripts {
    <script src="~/lib/highlight/highlight.pack.js"></script>
    <script>
        hljs.initHighlightingOnLoad();
    </script>
}