@{
    ViewData["Title"] = "Edit Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4>Edit Post</h4>
<br />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <partial name="_Post.cshtml" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" asp-action="Edit" asp-controller="Post" />
                <input type="submit" value="Delete" class="btn btn-primary" asp-action="Delete" asp-controller="Post" onclick="onDelete" />
            </div>
        </form>
    </div>
</div>

@section Styles {
    @{await Html.RenderPartialAsync("_PostStylesPartial");}
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_PostScriptsPartial");}
    <script type="text/javascript">
        $("input[type='submit'][value='Delete']").on("click", function() {
            return confirm("Are you sure to delete the post?");
        })
    </script>
}
